html,body{
    margin: 0;
    padding: 0;
    text-align: center;
    font: caption ;
    font-size: 15px;
    
}


header{
    height: 216px;
    background-color:grey;
    width:100%;
    background-image: url("../pic/header.jpg") ;
    
    
    
}

#logo{
    width: 108px;
    height: 108px;
    margin: auto;
    padding-top: 25px;
}
.menuList {
    height: 16px;
     margin-top: 33px;
}

header ul li{
    display: inline;
    margin: 18px ;
    font-weight: bold;
   
} 

header a{
    color:white;
    text-decoration: none;
}
h1{
    padding: 0;
    margin: 0;
    font-size: 27px;
}

article .content {
    padding-top : 40px;
    color: #49666c;
    padding-bottom: 40px;
}


/* cool proposition */

.work{
    display: table;
    margin: auto;
    padding: 40px;
}
.work div{
    display: table-cell;
    padding-left: 30px;
    padding-right: 30px;
}

.blue_button {
    background: #2e9cd9;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
    font-size: 19px;
    font-weight: bold;
    
}
